body {
    background-color: black;
}
h1 {
    background-color: blueviolet;
    color: whitesmoke;
}

li{
    display: inline;
    float: left;    
}

a{
    display: block;
    padding: 20px;
    background-color: cornsilk;
}
